@import './variables.scss';
@import './mixins.scss';
@import './components/btn.scss';

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html {
    font-family: sans-serif;
}

.d-none {
    display: none;
}

.lead {
    font-weight: 700;
}

.w100 {
    width: 100%;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.decoration-none {
    text-decoration: none;
}