$padding: 10px;
$margin: 10px;

$radius: 5px;

$screenwidth: 600px;

$color-light: white;
$color-dark: black;
$color-primary: #A63E51;
$color-secondary: #FFC0CB;
$color-bg: #FFDCE2;
$color-disable: #BF9CA2;
